HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/src/main/resources/application-JWT-SECRET.properties
/src/main/resources/application-DB-URL.properties
/src/main/resources/application-DB-USERNAME.properties
/src/main/resources/application-DB-PASSWORD.properties
/src/main/resources/application-S3-BUCKET.properties
/src/main/resources/application-S3-SECRET.properties
/src/main/resources/application-S3-ACCESS.properties
/src/main/resources/application-GOOGLE_AUTH_SCOPE.properties
/src/main/resources/application-GOOGLE_AUTH_URL.properties
/src/main/resources/application-GOOGLE_CLIENT_ID.properties
/src/main/resources/application-GOOGLE_LOGIN_URL.properties
/src/main/resources/application-GOOGLE_REDIRECT_URL.properties
/src/main/resources/application-GOOGLE_SECRET.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/